body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*IMG Header*/
#header{
    position: relative;
    width: 100%;
    color: white;
}
.img-header{
    position: relative;
    width: 100%;
    height: 800px;
    background: url(./e46.png);
    background-position: center;
    background-size: cover;
}

/*header content*/
.navBar{
    display: inline-block;
    height: 50px;
    width: 75%;
    margin-left: 12.5%;
    border-bottom: 1px solid white; 
    padding-top: 30px;
}

.navBar span{
    margin: 0 15px 0 7px;
}

.navBar .white a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.navBar .white a:hover{
    text-decoration: underline white;
    font-size: 20px;
}
.navBar .black a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.navBar .black a:hover{
    text-decoration: underline black;
    font-size: 20px;
}
.navBar .derecha{
    float: right;
}
.navBar .derecha span img{
    height: 20px;
    margin-left: 10px;
}
.logo{
    float: right;
    margin-right: calc(12.5% - 90px);
}
.logo img{
    height: 80px;
}
.disp{
    margin-top: 500px;
    margin-left: 80px;
}
.disp h1{
    font-size: 50px;
}
.disp h4{
    font-size: 30px;
}
.disp button{
    background-color: rgb(76, 104, 231);
    height: 40px;
    width: 200px;
    border: none;
}
.disp button a{
    color: white;
    text-decoration: none;
}

/*SELECCIONAR TIPO DE BMW*/
.position{
    margin-top: 150px;
    margin-left: 150px; 
}
.selection{
    height: 150px;
}
.series{
    display: inline-block;
    border-bottom: 2px solid #dddddd;
    padding: 0 5px 0 5px;
}
.series p{
    color: #dddddd;
    font-size: 15px;
    font-weight: bold;
}
.line{
    display: flex;
    margin-top: 20px;
}
.selected{
    display: inline-block;
    border-bottom: 3px solid rgb(76, 104, 231);
    padding: 0 10px 15px 10px;
    font-size: 30px;
    font-weight: bold;
}
.selections{
    display: inline-block;
    border-bottom: 1px solid #dddddd;
    font-size: 20px;
    font-weight: bold;
    color: #dddddd;
    padding-top: 5px;
}
.selections span{
    padding: 0 40px 15px 15px;
}

/*SELECCION CABRIO*/
.cabrio{
    width: 500px;
}
.img-container{
    width: 1500px;
}
.img-container .image{
    display: inline-block;
    width: 450px;
}
.img-container .image img{
    width: 400px;
    margin-right: 40px;
}

.img-container .image ul{
    list-style: none;
    margin: 0 0 0 25px;
    padding: 0;
}
.img-container .image ul li{
     position: relative;
    padding-bottom: 10px;
}
.img-container .image ul li:before{
    content: '';
    position: absolute;
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:5px;
    height:5px;
    top: calc(50% - 4px);
    left: -20px;
    transform: translateY(-50%) rotate(-45deg);
 }
 .img-container .image ul li a{
     text-decoration: none;
     color: black;
     font-size: 15px;
     font-weight: bold;
 }



 /*Extra*/

.articles {
     width: 1500px;
     display: flex;
     margin-top: 120px;
}

.articles .imgs img{
height: 450px;
margin-right: 20px;
}


.video-img{
    width: 1500px;
    display: flex;
    margin-top: 60px; 
}

.video-img .bmw img{
    height: 550px;
    margin-right: 60px;
}

.config {
    width: 1500px;
    display: flex;
    margin-top: 150px;
}

.config .configurador img{
    height: 180px;
    margin-right: 50px;
}


footer{
    margin-top: 100px;
}
footer img{
    width: 100%;
}
